@charset "ISO-8859-1";
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
    scroll-behavior: smooth;
}
.navbar-brand img{
    height: 70px;
    padding-left: 30px;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover{
    color: #007bff!important; 
}
.navbar{
    background: #fff;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}


img{
	height: 70%;
	width: 100%;
}

@keyframes cycleImages{
    25%{
        opacity: 1;
    }
    45%{
        opacity: 0;
    }
}
@keyframes zoom{
    100%{
        transform: scale(1.2);
    }
}



#service{
    background-color: rgb(128, 128, 128); 
    background-size: cover;
    background-position: center;
    color: #efefef!important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#service h1{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#service h1::after{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.service{
    margin-top: 40px;
}
.icon{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#service p{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

.service .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}


.container2{
	background-color: #F67280;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container2 .hexagon{
    position: relative;
    width: 350px;
    height: 400px;
    margin: 50px 20px 70px;
}
.container2 .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.15), transparent, transparent);
    border-radius: 50%;
    transition: 0.5s;
}
.container2 .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
}
.container2 .hexagon .shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    clip-path: polygon(0 25%, 48% 0, 100% 25%, 100% 77%, 48% 100%, 0 77%);
    transition: 0.5s;
}
.container2 .hexagon:hover .shape{
    transform: translateY(-30px);
}
.container2 .hexagon .shape img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container2 .hexagon .shape .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg, #03a9f4,rgba(3,169,244,0.5));
    color: white;
    opacity: 0;
    transition: 0.5s;
}
.container2 .hexagon:hover .shape .content{
    opacity: 1;

}

.cont{
      display:flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 15px;

  }
  .card1 {
    font-family: 'PT Sans Narrow', sans-serif;
    height:300px;
    width:25%;
    color:#202124;
    background-color:#fff ;
    border-radius: 8px; 
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
  .card1:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
  }
  .fa{
      padding:10px 0;
      color:#12192c
  }
  .p1{
      position: relative;
      color:#fff;
      padding:5px 30px;
      font-size:14px;
      background-color:#fc6767;
      border-radius: 6px;
  }
  .u1{
      color:black;
      padding:5px;
      text-align: center;
      font-size: 30px;
  }
.credit a{
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  }
  
  .credit {
      text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px;
  }

.form{
	margin-left: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.form .form-control{
	width: 50%;
}
  
footer{
	background-color: rgb(192, 192, 192);
}